* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkkhaki;
}

.title {
    font-size: 35px;
    color: maroon;
    text-align: center;
}

table {
    margin: 0 auto;
    width: 90%;
}

.tabletitle {
    font-size: 35px;
    color: green;
    border-radius: 5px;
    background-color: black;
    padding: 25px;
    text-align: center;
    margin: 0px;
}

.tableheads {
    font-size: 25px;
    color: greenyellow;
    padding: 5px;
    border-radius: 5%;
    text-align: left;
    background-color: darkgreen;
}

td {
    border: 1px solid darkgreen;
    padding: 5px;
    border-radius: 10px;
    text-align: left;
    background-color: mediumspringgreen;
}

h5 {
    font-size: 20px;
    background-color: mediumspringgreen;
}

p {
    font-size: 18px;
    background-color: mediumspringgreen;
}